header.header.header-sticky.p-0.mb-4
  .container-fluid.border-bottom.px-4.justify-content-start
    button.header-toggler(type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()" style="margin-inline-start: -14px;")
      svg.icon.icon-lg
        use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-menu")
        |
    a.fw-semibold.fs-5.ms-2.link-underline.link-underline-opacity-0(href='#')
        | DAEDALUS Explore
    .ms-5.d-none.d-xxl-block
      block breadcrumb
    .d-none.d-xxl-block.ms-auto.mt-2
      block progress
    .d-xxl-none.ms-auto.fixed-bottom.bg-body.p-3.pb-2.border-start.border-top.rounded-start-3.shadow-lg(style='max-width: 728px')
      block progress
    ul.header-nav.ms-auto.d-xxl-none
      li.nav-item.py-1
        .vr.h-100.mx-2.text-body.text-opacity-75
      li.nav-item
        a.nav-link(href="#")
          svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-cloud-download")
      li.nav-item.py-1
        .vr.h-100.mx-2.text-body.text-opacity-75
      li.nav-item
        a.nav-link(href="#")
          |  ?
  //- Keep font-size to the maximum it can be without going over onto a second line on iPhone SE (small screen)
  .container-fluid.px-3.d-xxl-none(style='font-size: 0.74rem')
    block breadcrumb

